.active {
  font-weight: 600;

  div:first-child {
    background-color: #0b0b0b;
    color: #ffffff
  }

  p {
    color: #0b0b0b;
  }
  div:last-child {
    background-color: hsl(from #0b0b0b h s l / 10%)
  ;
  }
}

.block {
  color: #898781;
  font-weight: 500;

  div:first-child {
    background-color: #fcfcfb;

border: 1px solid hsl(from #0b0b0b h s l / 10%);
  }
  div:last-child {
    background-color: hsl(from #0b0b0b h s l / 10%)
  ;
  }
}
.completed {
  div:first-child {
    background-color: #009300;
    color: #ffffff
  }
  p{
    color:#006300
  }
  div:last-child {
    background-color: #009300
  }
}