@import "tailwindcss";

@theme {
    --background-image-beige-gradient: linear-gradient(135deg, #EAE6DC, #D8D2C8);
    --color-primary: #0D0D0D;
}
p {
    margin: 0;
}


html,
body,
#root {
    height: 100%;
    color: #0D0D0D;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@theme {
    --animate-pulseShadow: pulseShadow 1.5s ease-in-out infinite;
    --animate-fadeIn: fadeIn .25s ease-out;

    @keyframes pulseShadow {
        0%, 100% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, .15);
        }

        50% {
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(8px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}